.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 55vh;
  overflow-y: auto;
}

.dropTarget {
  position: relative;
  height: 100%;
}

.dropTargetHover {
  border: 2px dashed #8585AD;
  border-radius: 30px;
}

.checkoutWrapper {
  display: flex;
  gap: 41.5px;
  margin-top: 40px;
  margin-left: 250px;

  button {
    cursor: pointer;
  }
}

.price {
  display: flex;
  align-items: center;
  margin-right: 9px;

  & svg {
    margin-left: 9.5px;
    width: 32px;
    height: 32px;
  }
}

.dragItem {
  display: flex;
  align-items: center;
  gap: 13.5px;
  cursor: grab;
}