.wrapper {
  display: flex;
  margin-top: 120px;

  & form {
    display: flex;
    flex-direction: column;
  }
}

.formWrapper {
  position: absolute;
  width: 480px;
  left: 50%;
  margin-left: -240px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 480px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
}