body {
  font-family: "JetBrains Mono", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #131316;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.appWrapper {
  position: relative;
  height: 100vh;
  max-width: 80%;
  margin: 0 auto;

  & main {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

